---
repos:

- repo: https://github.com/miki725/importanize
  rev: '0.7'
  hooks:
  - id: importanize
    language_version: python3

- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
  - id: pyupgrade
    args: [--py3-plus]

- repo: https://github.com/myint/docformatter
  rev: v1.4
  hooks:
  - id: docformatter

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: deployment/roles
    additional_dependencies:
      - flake8-bugbear
      - flake8-comprehensions
      - flake8-debugger

- repo: https://github.com/mgedmin/check-manifest
  rev: '0.47'
  hooks:
    - id: check-manifest

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-added-large-files
  - id: check-builtin-literals
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: trailing-whitespace
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
    args: [--autofix]
