---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.2.3
  hooks:
  - id: check-added-large-files
  - id: check-builtin-literals
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: fix-encoding-pragma
  - id: flake8
  - id: trailing-whitespace

- repo: https://github.com/miki725/importanize
  rev: '0.7'
  hooks:
  - id: importanize
    language_version: python3

- repo: https://github.com/python/black
  rev: 19.3b0
  hooks:
  - id: black
    args: [--line-length=120, --safe]
    language_version: python3
