---
language: python
python:
  - "2.7"
  - "3.6"

services:
  - postgresql

before_script:
  - make resetdb

install:
  - pip install -U pipenv 'backports.shutil_get_terminal_size; python_version<"3"' 'backports.weakref; python_version<"3"'
  - pipenv install -d --system --skip-lock

script:
  - make coverage

after_success:
  coveralls
