include *.rc
include *.editorconfig
include *.importanizerc
include *.rst
include *.toml
include *.txt
include *.yaml *.yml
include LICENSE
include Makefile
include pytest.ini
include tox.ini
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include django_sorcery *.mako *.py

recursive-include docs *
recursive-exclude docs/_build *

recursive-include tests *
recursive-include test_site *
