-e .
attrs
beautifulsoup4
coveralls
django-extensions
flake8
gitchangelog
mock; python_version <= '2.7'
pdbpp
pre_commit
psycopg2
ptpython
pytest
pytest-cov
simplejson
Sphinx
sphinx-autobuild
sphinx_rtd_theme
sqlalchemy_utils
tox
Werkzeug
yapf
