-e .
Sphinx
attrs
beautifulsoup4
coveralls
django-extensions
flake8
gitchangelog
mock; python_version <= '2.7'
pdbpp
pre_commit
psycopg2
pytest
pytest-cov
simplejson
sphinx-autobuild
sphinx_rtd_theme
sqlalchemy_utils
tox
yapf
